doctype html
html
  head
    script(src="/socket.io/socket.io.js")
  body
    h1 HELLO FROM JADE
    h3 id param: #{id}
    button(onClick="clickButton()") Freaking Click

    ul#messages

    script(type='text/javascript', src='/js/index.js')
